/* Colors
#7CE160 (Dark Green)
#94227E (Purple)
#A1FF87 (Light Green)
#469431 (Darker Green)
*/
#ctitle {
    width: 300px;
    height: 145px;
    background-color: #A1FF87;
    font-size: 60px;
    border-bottom-right-radius: 20px;
    text-align: center;
    line-height: 145px;
    position: absolute;
    top: 0;
    left: 0;
}
.bsquare {
    height: 650px;
    width: 1820px;
    background-image: linear-gradient(#94227E, #469431);
    position: absolute;
    z-index: -2;
    border-radius: 20px;
    top: 200px;
    left: 50px;
}

#container {
    position: relative;
    height: 100%;
    width: 100%;
}

#gmail-logo, #tumblr-logo, #twitter-logo, #instagram-logo, #facebook-logo {
    position: absolute;
    height: 200px;
    width: 200px;
    top: 225px;
}

#gmail-logo {
    left: calc(10% - 100px);
}

#tumblr-logo {
    left: calc(30% - 100px);
}
#facebook-logo {
    left: calc(50% - 100px);
}
#instagram-logo {
    left: calc(70% - 100px);
}
#twitter-logo {
    left: calc(90% - 100px);
}
.isquare1, .isquare2, .isquare3, .isquare4, .isquare5 {
    position: absolute;
    background-color: #7CE160;
    height: 330px;
    width: 200px;
    border-radius: 20px;
    top: 450px;
    padding: 20px;
    font-size: 20px;
    font-family: 'Jua', sans-serif;
}
.isquare1 {
    left: calc(10% - 120px);
}
.isquare2 {
    left: calc(30% - 120px);
}
.isquare3 {
    left: calc(50% - 120px);
}
.isquare4 {
    left: calc(70% - 120px);
}
.isquare5 {
    left: calc(90% - 120px);
}