@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Libre+Bodoni&display=swap');
/* Colors
#7CE160 (Dark Green)
#94227E (Purple)
#A1FF87 (Light Green)
#469431 (Darker Green)
*/
html {
background-image: linear-gradient(#7CE160,#94227E);
background-attachment: fixed;
}
body, header, nav, h1, h2, footer {
    font-family: 'Libre Bodoni', serif;
}
h3, h4, h5 {
    font-family: 'Jua', sans-serif;
}
footer {
    background-color: #7CE160;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    display: inline-block;
    margin: 0 10px
}
footer img {
    max-width: 40px;
    max-height: 40px;
}
nav ul li{
    font-family: 'Libre Bodoni', serif;
    float: left;
    list-style-type: none;
    background-color: #A1FF87;
    margin-right: 80px;
    top: 20px;
    left: 30px;
    position: relative;
    
}
nav ul li a:visited{
    color:black;
}
nav ul li a:link{
    color:black;
}
nav ul li a:hover{
    color:white;
}
#navigation {
    font-family: 'Libre Bodoni', serif;
    width: 967px;
    height: 84px;
    background-color: #A1FF87;
    font-size: 30px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    right: 0px;
    top: -30px;
    position: fixed;
    z-index: 1000;
}
.contact-link {
    color: black;
}
.contact-link:visited {
        color: black;
}
.contact-link:hover {
    color: white;
}
.social-link {
        height: 40px;
        width: 40px;
}
