@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Libre+Bodoni&display=swap');
/* Colors
#7CE160 (Dark Green)
#94227E (Purple)
#A1FF87 (Light Green)
#469431 (Darker Green)
*/
#welcome{
    width: 300px;
    height: 145px;
    background-color: #A1FF87;
    font-size: 35px;
    border-bottom-right-radius: 20px;
    float: left;
    text-align: center;
    font-family: 'Libre Bodoni', serif;
    top: 0px;
    left: 0px;
    position: absolute;
}
section h3 img {
    position: absolute;
    top: 220px;
    left: 300px;
}
#greeting {
    position: absolute;
    top: 400px;
    background-color: #7CE160;
    height: 400px;
    width: 500px;
    border-radius: 20px;
    position: absolute;
    left: 110px;
    text-align: center;
    font-size: 20px;
}
#greeting::before {
    content: "About me";
    text-decoration: underline;
    font-size: 40px;
}
main section h4 {
    position: absolute;
    right: 107px;
}
#more {
    background-color: #7CE160;
    color: black;
    height: 80px;
    width: 80px;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    position: absolute;
    top: 220px;
    right: 1225px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#more:hover{
    color: white
}
#mgallery {
    background-color: #7CE160;
    height: 500px;
    width: 900px;
    border-radius: 20px;
    position: absolute;
    top: 300px;
    right: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#mgaltitle {
    background-color: #7CE160;
    font-size: 40px;
    text-decoration: underline;
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    top: 190px;
    right: 450px;
}
.square {
    height: 673px;
    width: 600px;
    background-image: linear-gradient(#94227E, #469431);
    position: absolute;
    left: 25px;
    z-index: -2;
    border-radius: 20px;
    bottom: 104px;
    left: 60px;
}
.square1 {
    height: 673px;
    width: 1000px;
    background-image: linear-gradient(#94227E, #469431);
    position: absolute;
    border-radius: 20px;
    z-index: -2;
    right: 60px;
    bottom: 104px;
}
.tree-image {
    height: 358px;
    width: 264px;
}
.peach-image {
    height: 203px; 
    width: 242px;
}
.scary-image {
    height: 326px;
    width: 194px;
}